<section class="container advantages-cont">
  <h2 class="list-of-fetaures-name">List of features</h2>
  <ul class="table-list-of-feautures">
    <li class="mob-position-features">
      <div class="logo-up">
        <svg class="but-pen">
          <use href="./img/icons.svg#icon-adv1"></use>
        </svg>
      </div>
      <h3 class="list-of-fetaures-points">Strategy</h3>
      <p class="key-points">
        Our goal is to identify the business problem to walk away with the
        perfect and creative solution.
      </p>
    </li>
    <li class="mob-position-features">
      <div class="logo-up">
        <svg class="but-pen">
          <use href="./img/icons.svg#icon-adv2"></use>
        </svg>
      </div>

      <h3 class="list-of-fetaures-points">Punctuality</h3>
      <p class="key-points">
        Bring the key message to the brand's audience for the best price within
        the shortest possible time.
      </p>
    </li>
    <li class="mob-position-features">
      <div class="logo-up">
        <svg class="but-pen">
          <use href="./img/icons.svg#icon-adv3"></use>
        </svg>
      </div>

      <h3 class="list-of-fetaures-points">Diligence</h3>
      <p class="key-points">
        Research and confirm brands that present the strongest digital growth
        opportunities and minimize risk.
      </p>
    </li>
    <li class="mob-position-features">
      <div class="logo-up">
        <svg class="but-pen">
          <use href="./img/icons.svg#icon-adv4"></use>
        </svg>
      </div>

      <h3 class="list-of-fetaures-points">Technologies</h3>
      <p class="key-points">
        Design practice focused on digital experiences. We bring forth a deep
        passion for problem-solving.
      </p>
    </li>
  </ul>
</section>
