<section class="container customers-position">
  <h2 class="customer-title">Customers</h2>

  <ul class="table-customers">
    <li class="point-kille-pos-logo">
      <a class="logo-link" href="#">
        <svg class="logo-pict" width="104" height="56">
          <use class="log-pict-zwei" href="./img/icons.svg#icon-Logo1"></use>
        </svg>
      </a>
    </li>
    <li class="point-kille-pos-logo">
      <a class="logo-link" href="#">
        <svg class="logo-pict" width="104" height="56">
          <use class="log-pict-zwei" href="./img/icons.svg#icon-Logo2"></use>
        </svg>
      </a>
    </li>
    <li class="point-kille-pos-logo">
      <a class="logo-link" href="#">
        <svg class="logo-pict" width="104" height="56">
          <use class="log-pict-zwei" href="./img/icons.svg#icon-Logo3"></use>
        </svg>
      </a>
    </li>
    <li class="point-kille-pos-logo">
      <a class="logo-link" href="#">
        <svg class="logo-pict" width="104" height="56">
          <use class="log-pict-zwei" href="./img/icons.svg#icon-Logo4"></use>
        </svg>
      </a>
    </li>
    <li class="point-kille-pos-logo">
      <a class="logo-link" href="#">
        <svg class="logo-pict" width="104" height="56">
          <use class="log-pict-zwei" href="./img/icons.svg#icon-Logo5"></use>
        </svg>
      </a>
    </li>

    <li class="point-kille-pos-logo">
      <a class="logo-link" href="#">
        <svg class="logo-pict" width="104" height="56">
          <use class="log-pict-zwei" href="./img/icons.svg#icon-Logo6"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
