<header class="container head-menu">
  <div>
    <a class="head-name-company" href="./index.html"
      ><span class="head-name-one">WEB</span>
      <span class="head-name-two">STUDIO</span>
    </a>
  </div>
  <div class="head-menu-but-posit">
    <button
      type="button"
      class="head-menu-button is-open"
      data-menu-button
      aria-expanded="false"
    >
      <svg
        class="head-menu-header-button"
        aria-label="Переключатель мобильного меню"
      >
        <use class="head-icon-kreuz" href="./img/icons.svg#icon-kreuz"></use>
        <use class="head-icon-menu" href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- MENU - MOBILE -->

    <div class="menu-container" data-menu>
      <nav>
        <ul class="menu-mobile-list">
          <li class="menu-spisok-point">
            <a class="menu-mobile-text" href="./index.html">Studio</a>
          </li>
          <li class="menu-spisok-point">
            <a class="menu-mobile-text" href="./portf-projects.html"
              >Portfolio</a
            >
          </li>
          <li class="menu-spisok-point">
            <a class="menu-mobile-text" href="./contacts.html">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="mobile-contacts">
        <ul class="mobile-contacts">
          <li>
            <a class="mobile-contacts-phone" href="tel:+380508696255">
              +380 (50) 869-62-55</a
            >
          </li>
          <li>
            <a class="mobile-contacts-email" href="mailto:greenevsky@gmail.com"
              >greenevsky@gmail.com</a
            >

            <ul class="social-links-menu">
              <li class="pos-socseti-menu">
                <a class="znachki-socseti-pos" href="#">
                  <svg class="znachki-socseti" width="24" height="24">
                    <use href="./img/icons.svg#icon-insta"></use>
                  </svg>
                </a>
              </li>
              <li class="pos-socseti-menu">
                <a class="znachki-socseti-pos" href="#">
                  <svg class="znachki-socseti" width="24" height="24">
                    <use href="./img/icons.svg#icon-twit"></use>
                  </svg>
                </a>
              </li>
              <li class="pos-socseti-menu">
                <a class="znachki-socseti-pos" href="#">
                  <svg class="znachki-socseti" width="24" height="24">
                    <use href="./img/icons.svg#icon-fac"></use>
                  </svg>
                </a>
              </li>
              <li class="pos-socseti-menu">
                <a class="znachki-socseti-pos" href="#">
                  <svg class="znachki-socseti" width="24" height="24">
                    <use href="./img/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <!-- TABLET  -->
  <nav>
    <ul class="head-pages">
      <li><a class="head-pages-links-cur" href="./index.html">Studio</a></li>
      <li>
        <a class="head-pages-links" href="./portf-projects.html">Portfolio</a>
      </li>
      <li>
        <a class="head-pages-links" href="./contacts.html">Contacts</a>
      </li>
    </ul>
  </nav>

  <address>
    <ul class="head-adress-tabl">
      <li>
        <a class="head-adr-tabl-font" href="mailto:greenevsky@gmail.com"
          >greenevsky@gmail.com</a
        >
      </li>
      <li class="head-adr-tabl-pos">
        <a class="head-adr-tabl-font" href="tel:+380508696255">
          +380 (50) 869-62-55</a
        >
      </li>
    </ul>
  </address>
</header>
