<section class="container-team-bg">
  <div class="container">
    <h2 class="team-table">Our Team</h2>
    <ul class="list-team-table">
      <li class="team-otstup">
        <img
          class="fotki-coworkers"
          srcset="./img/im4.2x.jpg 2x"
          src="./img/im4.jpg"
          alt="picture of Mark Guerrero"
          width="264"
        />

        <div class="team-name-class">
          <h3 class="team-player-name">Mark Guerrero</h3>
          <p class="team-player-title">Product Designer</p>
          <ul class="team-soc-w-list">
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-twit"></use>
                </svg>
              </a>
            </li>

            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-fac"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-otstup">
        <img
          class="fotki-coworkers"
          srcset="./img/im5.2x.jpg 2x"
          src="./img/im5.jpg"
          width="264"
          alt="picture of Tom Ford"
        />
        <div class="team-name-class">
          <h3 class="team-player-name">Tom Ford</h3>
          <p class="team-player-title">Frontend Developer</p>
          <ul class="team-soc-w-list">
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-twit"></use>
                </svg>
              </a>
            </li>

            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-fac"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-otstup">
        <img
          class="fotki-coworkers"
          srcset="./img/im6.2x.jpg 2x"
          src="./img/im6.jpg"
          width="264"
          alt="picture of Camila Garcia"
        />
        <div class="team-name-class">
          <h3 class="team-player-name">Camila Garcia</h3>
          <p class="team-player-title">Marketing</p>
          <ul class="team-soc-w-list">
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-twit"></use>
                </svg>
              </a>
            </li>

            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-fac"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-otstup">
        <img
          class="fotki-coworkers"
          srcset="./img/im7.2x.jpg 2x"
          src="./img/im7.jpg"
          width="264"
          alt="picture of Mark Guerrero"
        />
        <div class="team-name-class">
          <h3 class="team-player-name">Daniel Wilson</h3>
          <p class="team-player-title">UI Designer</p>
          <ul class="team-soc-w-list">
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-twit"></use>
                </svg>
              </a>
            </li>

            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-fac"></use>
                </svg>
              </a>
            </li>
            <li class="li-point-killer">
              <a class="team-soc-w" href="#">
                <svg class="team-soc-w-pic" width="16" height="16">
                  <use href="./img/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
