<!-- hello -->
<section class="container what-we-do-sect">
  <h2 class="what-we-do">What are we doing</h2>
  <div class="container what-we-do-cont">
    <ul class="what-we-do-list">
      <li>
        <img
          class="do-list-img"
          srcset="./img/im1.2x.jpg 2x"
          src="./img/im1.jpg"
          width="360"
          alt="monitor"
        />
      </li>
      <li>
        <img
          class="do-list-img"
          srcset="./img/im2.2x.jpg 2x"
          src="./img/im2.jpg"
          alt="mobilephone"
          width="360"
        />
      </li>
      <li>
        <img
          class="do-list-img"
          srcset="./img/im3.2x.jpg 2x"
          src="./img/im3.jpg"
          alt="laptop"
          width="360"
        />
      </li>
    </ul>
  </div>
</section>
